<body>
  <h1 class="blue">404</h1>
  <p class="cyan">Resource not found</p>
</body>

<style>
  body {
    padding-top: 2em;
    background-color: #222;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  h1 {
    font-size: 4em;
  }
  p {
    font-size: 3em;
  }
</style>
